[color]
	ui = true

[user]
	name = David Chambers
	email = dc@davidchambers.me

[alias]
	l = "!. ~/git/helpers && pretty_git_log"

[core]
	excludesfile = ~/git/gitignore

[diff]
	tool = vimdiff

[push]
	default = simple
