<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>me.davidchambers.battery</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/dc/bin/battery</string>
  </array>

  <key>StartInterval</key>
  <integer>600</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/me.davidchambers.battery.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/me.davidchambers.battery.out</string>
</dict>
</plist>
